.App {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.welcome {
  margin-top: 5%;
}
.title{
  margin: 1.5%;
}
.logo-image {
  position: absolute;
  left: 1%;
  top: 0%;
  width: 100px;
  height: 90px;
}