.App {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.welcome {
  margin-top: 5%;
}
.title{
  margin: 1.5%;
}
.logo-image {
  position: absolute;
  left: 1%;
  top: 0.4%;
  width: 100px;
  height: 90px;
  background-color: grey;
  border-radius: 50px;
}

.statistika{
  margin: 3%;
  display: flex;
  flex-wrap: wrap;
}
.statistika-child{
  margin: 3%;
  border: 1px black solid;
  padding: 15px;
  border-radius: 15px;
}

@media (max-width: 1578px) {
  .logo-image {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 992px) {
  .logo-image {
    width: 40px; /* 5 times smaller than the original width */
    height: 36px; /* 5 times smaller than the original height */
    left: 80%;
    transform: none; /* Reset transform for smaller screens */
  }
}